* {
  margin: 0%;
  padding: 0%;
}
.clear {
  height: 100vh;
  width: 100%;
  background-image: url("/img/img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
span {
  color: brown;
}
h2 {
  color: beige;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}
ul li {
  display: inline;
  padding: 10px;
}
ul li a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

ul li a:hover {
  color: rgb(121, 11, 11);
}
.sub {
  text-decoration: none;
  color: white;
  border: 2px solid rgb(129, 41, 41);
  border-radius: 12px;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(67, 20, 20);
  transition: 0.2s;
}
.sub:hover {
  color: brown;
}
.content {
  margin-top: 200px;
  color: antiquewhite;
  font-weight: bold;
  float: left;
}
h1 {
  text-transform: capitalize;
  font-size: 60px;
  margin-left: 40px;
}
.login {
  position: fixed;
  color: antiquewhite;
  border: 1px solid rgb(67, 20, 20);
  display: flex;
  background-color: rgb(110, 32, 32);
  padding: 100px;
  border-radius: 10px;
  box-shadow: 1px 2px 11px rgb(82, 15, 15);
  margin-left: 800px;
  margin-top: 150px;
  padding: 100px;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.login {
  background-color: rgba(71, 18, 18, 0.102);
}
.login h1 {
  text-transform: capitalize;
}
.ss {
  color: rgb(207, 0, 0);
  text-transform: capitalize;
  font-weight: bold;
}
.aa {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid red;
}
.sum {
  border: 2px solid red;
  padding: 10px;
  border-radius: 10px;
  color: rgb(138, 8, 8);
  background-color: rgb(41, 17, 17);
  cursor:pointer;
}
input:focus{
    background-color: rgb(206, 206, 18);
}
